@model IEnumerable<WebBanHangOnline.Models.EF.Category>
@{
    ViewBag.Title = "Danh sách Danh Mục";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home/index" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category/index" class="nav-link">Danh Mục</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12" style="display:flex; flex-direction:row; justify-content:center;">
                <h1 style="font-weight:bold;">QUẢN LÝ DANH MỤC MẶC ĐỊNH</h1>
            </div>
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home/index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh Sách Danh Mục</h3>

            <div class="card-tools">
                <a href="/admin/Category/add" class="btn btn-primary">Thêm Mới</a>
                <a href="#" class="btn btn-danger" id="BtnDeleteAll">Xóa Nhiều</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="input-group input-group-sm" style="margin-bottom:20px;">
                        <span style=" border: 1px solid black; border-color: grey;background-color: gray; border-radius:5px;">
                            <i class="fa fa-search" aria-hidden="true" style="padding: 10px;"></i>
                        </span>
                        <input type="text" id="Searchtext" class="Searchtext" name="Searchtext" placeholder="Nhập nội dung tìm kiếm..." style="width: 300px;" />
                    </div>
                </div>
            </div>
            <table class="table table-hover table-bordered">
                <thead style="background-color:aquamarine;">
                    <tr class="text-center">
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>STT</th>
                        <th>Tên Danh Mục</th>
                        <th>Thứ Tự</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr id="trow_@item.Id" class="text-center">
                                <td><input type="checkbox" id="cbkItem" value="@item.Id" /></td>
                                <td>@i</td>
                                <td>@item.Title</td>
                                <td>@item.Position</td>
                                <td>
                                    <a href="/admin/category/edit/@item.Id" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">Không có bản ghi nào</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->


@section scripts{
    <script>
        $(document).ready(function () {
            $("#Searchtext").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa đối tượng không?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/category/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                });
            });
        });
    </script>
}