@model WebBanHangOnline.Models.EF.ImportProduct
@using WebBanHangOnline.Models.EF
@{
    ViewBag.Title = "Thêm Phiếu Nhập";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var i = 0;
  
    List<ProductSize> ProductSizeNow = new List<ProductSize>();
    foreach (var item in Model.ImportProductDetails)
    {
        
        ProductSizeNow.Add(new ProductSize
        {
            ProductId = item.ProductId,
            SizeName = item.Size,
            ColorName = item.Color,
            Quantity = item.Quantity,
        });
    }
}
<link rel="stylesheet" href="~/Content/assets/styles/CreateExam.css" />
<div class="page-wrapper">
    <div class="container-fluid">
        @*Xây dựng nội dung ở đây*@
        
        <div class="ContainerCreateExam">
            <h1>@Model.Id</h1>
            <form action="/admin/ImportProduct/edit" method="post">
                <div class="form-horizontal">
                    <h4>Phiếu Nhập Hàng</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Tên Đợt Nhập Hàng</label>
                        <div class="col-md-10">
                            <input type="text" name="TenDotNhapHang" class="NameKyThi" value="@Model.Title" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ghi Chú</label>
                        <div class="col-md-10">
                            <textarea type="text" name="GhiChu" class="NameKyThi" value="@Model.Note"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="hidden" name="ipId" value="@Model.Id" />
                        </div>
                    </div>

                    @*mau hien tai*@

                    @*Thông tin phiếu nhập*@

                    @foreach (var item in Model.ImportProductDetails)
                    {
                        <div id="Exams">
                            <div id="Exam">
                                @*import product detail id*@
                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="col-md-10" style="background-color: white;">
                                        <input type="hidden" name="LProduct[@i].Id" value="@item.Id" />
                                    </div>
                                </div>
                                
                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="col-md-10" style="background-color: white;">
                                        <input type="hidden" name="ProductSizeNow[@i].ProductId" value="@ProductSizeNow[i].ProductId" />
                                        <input type="hidden" name="ProductSizeNow[@i].ColorName" value="@ProductSizeNow[i].ColorName" />
                                        <input type="hidden" name="ProductSizeNow[@i].SizeName" value="@ProductSizeNow[i].SizeName" />
                                        <input type="hidden" name="ProductSizeNow[@i].Quantity" value="@ProductSizeNow[i].Quantity" />
                                    </div>
                                </div>
                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="contenQ">
                                        <label class="control-label col-md-12">Mã Sản Phẩm: </label>
                                    </div>
                                    <div class="col-md-10" style="background-color: white;">
                                        <input class="form-control" name="LProduct[@i].ProductId" value="@item.ProductId" readonly/>
                                    </div>
                                </div>
                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="contenQ">
                                        <label class="control-label col-md-12">Tên Sản Phẩm: </label>
                                    </div>
                                    <div class="col-md-10" style="background-color: white;">
                                        <input class="form-control" name="LProduct[@i].Title" value="@item.Title" />
                                    </div>
                                </div>
                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="contenQ">
                                        <label class="control-label col-md-12">Giá Nhập: </label>
                                    </div>
                                    <div class="col-md-10" style="background-color: white;">
                                        <input class="form-control" name="LProduct[@i].OriginalPrice" value="@item.OriginalPrice" />
                                    </div>
                                </div>

                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="contenQ">
                                        <label class="control-label col-md-12">Giá Bán: </label>
                                    </div>
                                    <div class="col-md-10" style="background-color: white;">
                                        <input class="form-control" name="LProduct[@i].Price" value="@item.Price" />
                                    </div>
                                </div>

                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="contenQ">
                                        <label class="control-label col-md-12">Màu sắc: </label>
                                    </div>
                                    <div class="col-md-10" style="background-color: white;">
                                        <input class="form-control" name="LProduct[@i].Color" value="@item.Color" />
                                    </div>
                                </div>

                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="contenQ">
                                        <label class="control-label col-md-12">Kích Thước: </label>
                                    </div>
                                    <div class="col-md-10" style="background-color: white;">
                                        <input class="form-control" name="LProduct[@i].Size" value="@item.Size" />
                                    </div>
                                </div>

                                <div class="form-group" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                    <div class="contenQ">
                                        <label class="control-label col-md-12">Số Lượng: </label>
                                    </div>
                                    <div class="col-md-10" style="background-color: white;">
                                        <input class="form-control" name="LProduct[@i].Quantity" value="@item.Quantity" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        i++;
                    }

                    <div style="margin-top: 10px">
                        <button type="submit" class="btn btn-primary">Cập Nhật</button>
                    </div>
                </div>
            </form>
            @*<button class="btn btn-primary" onclick="ThemCauHoi()" style="float: right">Thêm Sản Phẩm</button>*@
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>
@section scripts{
    <script>
       
    </script>
}

