@model PagedList.PagedList<WebBanHangOnline.Models.EF.News>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Danh Sách Tin Tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home/index" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/news/index" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12" style="display:flex; flex-direction:row; justify-content:center;">
                <h1 style="font-weight:bold;">QUẢN LÝ TIN TỨC</h1>
            </div>
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/admin/home/index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>

            <div class="card-tools">
                <a href="/admin/news/add" class="btn btn-primary">Thêm Mới</a>
                <a href="#" class="btn btn-danger" id="BtnDeleteAll">Xóa Nhiều</a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="input-group input-group-sm" style="margin-bottom:10px;">
                        <span style=" border: 1px solid black; border-color: grey;background-color: gray; border-radius:5px;">
                            <i class="fa fa-search" aria-hidden="true" style="padding: 10px;"></i>
                        </span>
                        <input type="text" id="Searchtext" class="Searchtext" name="Searchtext" placeholder="Nhập nội dung tìm kiếm..." style="width: 300px;" />
                    </div>
                </div>
            </div>
            <table class="table table-hover table-bordered" style="margin-top:10px;">
                <thead style="background-color:aquamarine">
                    <tr class="text-center">
                        <th><input type="checkbox" id="SelectAll" /></th>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>@Html.ActionLink("Tiêu Đề", "Index", new { SO = ViewBag.TenTieuDe })</th>
                        <th>@Html.ActionLink("Ngày Tạo", "Index", new { SO = ViewBag.NgayTao })</th>
                        <th>@Html.ActionLink("Hiển Thị", "Index", new { SO = ViewBag.HienThi })</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @if (Model != null && Model.Any())
                    {
                        var i = (ViewBag.Page - 1) * ViewBag.PageSize + 1;
                        foreach (var item in Model)
                        {
                            var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            <tr id="trow_@item.Id" class="text-center">
                                <td><input type="checkbox" id="cbkItem" value="@item.Id" /></td>
                                <td>@i</td>
                                <td><img src="@item.Image" width="50" /></td>
                                <td>@item.Title</td>
                                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                                <td class="text-center">
                                    <a href='#' data-id="@item.Id" class="btnActive">@Html.Raw(strCheck)</a>

                                </td>
                                <td>
                                    <a href="/admin/news/edit/@item.Id" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                    <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7">Không có bản ghi nào</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row">
                <div class="col-5"></div>
                <div class="col-3">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
                <div class="col-5"></div>
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->


@section scripts{
    <script>
        $(document).ready(function () {
            $("#Searchtext").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('body').on('click', '#BtnDeleteAll', function (e) {
                e.preventDefault();
                var str = "";
                var checkbox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkbox.each(function () {
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i === 0) {
                            str += _id;
                        }
                        else {
                            str += "," + _id;
                        }
                        i++;
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm('Bạn có muốn xóa các đối tượng không?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/news/deleteall',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }
            });

            $('body').on('change', '#SelectAll', function () {
                var checkStatus = this.checked;
                var checkbox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkbox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkbox.attr('selected', 'checked');
                    }
                    else {
                        checkbox.attr('selected', '');
                    }
                });
            });

            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa đối tượng không?');
                if (conf === true) {
                    $.ajax({
                        url: '/admin/news/delete',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });

            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/news/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'></i>")
                            }
                            else {
                                btn.html("<i class='fas fa-times text-danger'></i>")
                            }
                        }
                    }
                });
            });
        });
    </script>
}