@model IEnumerable<WebBanHangOnline.Models.ApplicationUser>
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using WebBanHangOnline.Models; 
@{
    ViewBag.Title = "Quản Lý Tài Khoản";
    var userStore = new UserStore<ApplicationUser>(new ApplicationDbContext());
    var userManager = new UserManager<ApplicationUser>(userStore);

}
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh Sách Tài Khoản</h3>

            <div class="card-tools">
                <a href="/admin/account/create" class="btn btn-success">Thêm Mới</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <thead style="background-color:aquamarine;">
                    <tr class="text-center">
                        <th>#</th>
                        <th>Tài Khoản</th>
                        <th>Họ Tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Bộ Phận</th>
                        <th>Hoạt động</th>
                        <th>Trưởng Bộ Phận</th>
                        <th>Hành Động</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            var ur = userManager.GetRoles(item.Id).ElementAt(0); ;
                            var strCheck = item.IsActive ? "<i class='fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            <tr id="trow_@item.Id" class="text-center">
                                <td>@i</td>
                                <td>@item.UserName</td>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@ur</td>
                                <td class="text-center">
                                    <a href='#' data-id="@item.Id" class="btnActive">@Html.Raw(strCheck)</a>
                                </td>
                                <td>
                                    @if (item.IsLeader)
                                    {
                                        <span><i class='fa fa-check text-success'></i></span>
                                    }
                                </td>
                                <td>
                                    <a href="/admin/account/edit/@item.Id" class="btn btn-sm btn-warning">Sửa</a>
                                    <a href="#" data-user="@item.UserName" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete">Xóa</a>
                                </td>
                            </tr>
                            i++;
                        }

                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnDelete', function () {
                var user = $(this).data('user');
                var id = $(this).data('id');
                var conf = confirm('Bạn có muốn xóa đối tượng này không?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/account/DeleteAccount',
                        type: 'POST',
                        data: { user: user, id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });


            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                var conf = confirm("Bạn chắc muốn thực hiện thao tác này không?");
                if (conf === true) {
                    $.ajax({
                        url: '/admin/Account/IsActive',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();
                                if (rs.isActive) {
                                    btn.html("<i class='fa fa-check text-success'></i>")
                                }
                                else {
                                    btn.html("<i class='fas fa-times text-danger'></i>")
                                }
                            }
                        }
                    });
                }
            });
        });
    </script>
}