@using WebBanHangOnline.Models;
@using WebBanHangOnline.Models.EF
@model IEnumerable<Message>
@{
    ViewBag.Title = "Trang chủ admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
    
}

<link href="~/Content/assets/styles/chat.css" rel="stylesheet" />
<!-- Content Header (Page header) -->
@section naviheader {
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/category" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Tin Tức</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- /.card -->
    <link rel="stylesheet" href="~/css/Chat.css" />
    <div class="Container-chat">
        <div class="ListRoom">
            @Html.Action("ListRoom", "Chat")
        </div>
        <div class="Body-chat">
            <div class="body-message">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        if (item.UserId == ViewBag.UserId)
                        {
                            <div class="message" style="text-align: right; margin-bottom: 10px; margin-right:20px; margin-left:800px;">
                                <div class="col-md-8">
                                    <div class="row">
                                        <p class="txtMessage" style="font-size: 12px; color: gray; font-style: italic;">@item.TimesChat</p>
                                        <strong class="txtMessage">@db.Users.FirstOrDefault(x => x.Id == item.UserId).FullName</strong>
                                    </div>
                                    <div class="row" style="background-color: #f0f0f0; border-radius: 10px; padding: 10px;">
                                        <p class="txtMessage">@item.Content</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="message" style="text-align: left; margin-bottom: 10px; margin-right:1000px; margin-left:20px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <strong class="txtMessage">@db.Users.FirstOrDefault(x => x.Id == item.UserId).FullName</strong>
                                        <p class="txtMessage" style="font-size: 12px; color: gray; font-style: italic;">@item.TimesChat</p>
                                    </div>
                                    <div class="row" style="background-color: #fde0db; border-radius: 10px; padding: 10px;">
                                        <p class="txtMessage">@item.Content</p>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }

            </div>
            <div class="input-chat">
                <input type="text" id="txtMessage">
                <button id="btnSend">Send</button>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var name = '@ViewBag.Name';
        var idRoom = '@ViewBag.IdRoom';
        var UserId = '@ViewBag.UserId';
        $(function () {
            var chat = $.connection.Chat;
            console.log(chat);
            loadClient(chat);
            $.connection.hub.start().done(function () {
                chat.server.connect(name);
                chat.server.joinRoom(idRoom);
                $('#btnSend').click(function () {
                    var mess = $('#txtMessage').val();
                    chat.server.message(name, mess, idRoom, UserId);
                    $('#txtMessage').val('').focus('');
                });
            });

        })

        function loadClient(chat) {
            // sửa lại cái phần này làm sao để nhận dc cái id của người dùng để còn hiện cho đúng bên
            chat.client.message = function (name, msg,id,UserId) {
                var currentDate = new Date();  // Tạo đối tượng Date
                var formattedDate = currentDate.toLocaleDateString();
                var ms = `<div class="message" style="text-align: right; margin-bottom: 10px; margin-right:20px; margin-left:800px;">
                            <div class="col-md-8">
                                <div class="row">
                                    <p class="txtMessage" style="font-size: 12px; color: gray; font-style: italic;">` + formattedDate + `</p>
                                    <strong class="txtMessage">` + name + `</strong>
                                </div>
                                <div class="row" style="background-color: #f0f0f0; border-radius: 10px; padding: 10px;">
                                    <p class="txtMessage">` + msg + `</p>
                                </div>
                            </div>
                        </div>`;
                console.log(ms);
                $(".body-message").append(ms);
            };
        }
    </script>
}

